.Password {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
}
.text-field {
    width: 3rem;
}
.iconCancel {
    width: 1.7rem;
    height: auto;
}
.buttonCancel {
    background-color: transparent;
    border: none;
    margin: .5rem .5rem 0 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5
}
